version: '3.8'

services:
  postgres:
    image: postgres:16-alpine
    container_name: smarthome-postgres
    hostname: postgres
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: "postgres"
      PGDATA: "/var/lib/postgresql/data/pgdata"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./smart_home/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 5s
      timeout: 5s
      retries: 5
      start_period: 5s
    networks:
      - smarthome-network
  
  rabbitmq:
    image: rabbitmq:3-management-alpine
    container_name: rabbitmq
    hostname: rabbitmq
    restart: always
    volumes:
      - rmqdata:/var/lib/rabbitmq/
      - rmqlog:/var/log/rabbitmq
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 30s
      timeout: 30s
      retries: 3
    networks:
      - smarthome-network

  temperature-api:
    build:
      context: ./temperature-api
      dockerfile: Dockerfile
    container_name: temperature-api
    ports:
      - "8081:8081"
    restart: unless-stopped
    networks:
      - smarthome-network

  app:
    build:
      context: ./smart_home
      dockerfile: Dockerfile
    container_name: smarthome-app
    depends_on:
      postgres:
        condition: service_healthy
      temperature-api:
        condition: service_started
      rabbitmq:
        condition: service_healthy        
    environment:
      - DATABASE_URL=postgres://postgres:postgres@postgres:5432/smarthome
      - TEMPERATURE_API_URL=http://temperature-api:8081
    ports:
      - "8080:8080"
    restart: unless-stopped
    networks:
      - smarthome-network

  device-management:
    build:
      context: ./device-management
      dockerfile: Dockerfile
    container_name: device-management
    depends_on:
      rabbitmq:
        condition: service_healthy 
    ports:
      - "8082:8080"
    restart: unless-stopped
    networks:
      - smarthome-network

  device-monitoring:
    build:
      context: ./device-monitoring
      dockerfile: Dockerfile
    container_name: device-monitoring
    depends_on:
      rabbitmq:
        condition: service_healthy 
    ports:
      - "8083:8080"
    restart: unless-stopped
    networks:
      - smarthome-network

volumes:
  postgres_data:
  rmqdata:
  rmqlog:

networks:
  smarthome-network:
    driver: bridge